/*подключение шрифтов*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}


/*------------------------body-------------------------*/
.page-main {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;

}

.page-rosy {
  background-color: #FEAFC3;

}



.page-aqua {
  background-color: #69A9FF;
}
.page-camomile {
  background-color: #FCC850;
}
/*-----------------------------------------------------*/



/*--------------отключение пунктов li------------------*/
ul, ol {
  list-style: none;
}
/*-----------------------------------------------------*/


/*---скрыто для дизайна, но содержимое доступно---*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*------------------------------------------------*/



/*---------------Шапка----------------------------*/
.page-header {
  font-size: 16px;
  line-height: 20px;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  width: 400px;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.navigation-user {
  width: 419px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-link {
  color: #2D3440;
  text-decoration: none;
}

.information-item-link {
  color: #2D3440;
  text-decoration: none;
}

.information-item-link-lovly {
  font-weight: 700;
}

.academy-link {
  color: #2D3440;
}

.support-phone {
  font-weight: 700;
}



.contacts-link {
  text-decoration: #2D3440;
  color:#2D3440
}

.navigation-button {
  background-color: #FFCBD8;
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 26px;
}

.navigation-search {
  padding: 8px;
}
/*------------------------------------------------*/

/*--------------------Основное содержимое----------*/
.main-container {
  flex-grow: 1;
}


/*--Рекламный блок--*/
.examples {

}
.examples-left-container {
  background-color: #FEAFC3;
  color: #2D3440;
}
.examples-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.examples-description {
  font-size: 18px;
  line-height: 24px;
}

.button-white {
  text-decoration: none;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.big-item-container {
  background-color: #FEAFC3;
  width: 348px;
  height: 554px;
}
.examples-slider-image-current {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FEAFC3;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  width: 348px;
  height: 554px;

}

.examples-slider-item-current {
  width: 348px;
  height: 554px;
}

.examples-slider-item {
  width: 100px;
  height: 150px;
}

/*------------Специальные акции и предложения-------------*/
.presents-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.presents-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.presents-item {
  background-color: #FF7799;
}
/*------------------------------------------------------------*/



/*------------------Популярные товары-------------------------*/
.products-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.products-item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.products-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.products-item {
  background-color: #FCFCFC;
}

.products-button {
  background-color: #FF2F64;
  border-radius: 26px;
}

/*--Преимущества--*/
.advantages {
  background-image: url(../pictures/index/advantages-background.jpg);
  width: 1170px;
  border-radius: 16px;
}

.advantages-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}


/*Статья в блоге*/
.blog {
  background-image: url(../pictures/index/article-background.jpg);
  height: 220px;
  width: 570px;
  border-radius: 16px;
}

.blog-title {
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
}

.blog-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

/*--Оформление подписки--*/
.button-red {
  font-family: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FCFCFC;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.subscribe {
  background-image: url("../pictures/index/subscribe-background.jpg");
  width: 570px;
  height: 220px;
  border-radius: 16px;
}

/*--Оформление доставки--*/

.delivery {
  background-image: url("../pictures/index/delivery-background.jpg");
  width: 1170px;
  height: 534px;
  border-radius: 16px;
}

.delivery-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.delivery-description {
  color: #565C66;
}

.delivery-form-description {
  color: #565C66;
}

.delivery-label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

/*--Контакты магазина--*/
.contacts {
  background-image: url("../pictures/index/contacts-background.jpg");
  width: 1170px;
  height: 492px;
  border-radius: 16px;
}

.contacts-number {
  color: #2D3440;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-text-address,
.contacts-text-phone     {
  color: #565C66;
}

.contacts-text-time {
  color: #565C66;
  font-size: 14px;
  line-height: 20px;
}

.contacts-address {
  color: #2D3440;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
}

.contacts-phone-and-time {

}

/*Каталог*/
.page-inner {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
  background-color: #FEAFC3;
}


.catalog-red {
  background-color: #FF4A78;
  color: #FCFCFC;
  width: 95px;
  height: 36px;
  border-radius: 26px;
  padding: 8px 16px;
}
.breadcrumbs-link {
  color: #2D3440;
  text-decoration: #2D3440 underline;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.breadcrumbs-link-current {
  text-decoration: none;
}

.button-apply {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 54px;
}

.icecream-type-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.products-description-catalog {
  color: #565C66;
}

.pagination-show-more {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.pagination-link {
  text-decoration: #2D3440 none;
  color: #2D3440;
}
.pagination-link-current {
  background-color: #FCFCFC;
  border-radius: 50px;
  padding: 2px 8px;
}

