/*подключение шрифтов*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*-----------------------html----------------------*/
html {
  height: 100%;
  }
/*------------------------------------------------*/

/*------------------------body-------------------------*/
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
}

.page-rosy {
  background-color: #FEAFC3;
}
.page-aqua {
  background-color: #69A9FF;
}
.page-camomile {
  background-color: #FCC850;
}

/*-----------------------------------------------------*/



/*--------------отключение пунктов li------------------*/
.navigation-list, .navigation-user,
.advantages-list, .examples-slider-list,
.social-list, .presents-list, .products-list,
.information, .breadcrumbs, .catalog-filter-list,
.pagination, .popup-cart-list {
  list-style: none;
}
/*-----------------------------------------------------*/


/*---скрыто для дизайна, но содержимое доступно---*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*------------------------------------------------*/



/*---------------Шапка----------------------------*/
.page-header {
  font-size: 16px;
  line-height: 20px;
}

.navigation-link {
  color: #2D3440;
  text-decoration: none;
  display: block;

  height: 36px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 26px;
}

.navigation-link:hover {
  background-color:  rgba(252, 252, 252, 0.3);
}

.navigation-link:focus {
  outline: 2px solid #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:active {
  outline: none;
  background-color: #FCFCFC;
}

.navigation-link-left {

}

.gllacy-logo {
  padding: 22px 0px;
  margin-right: 16px;
}

.support-phone {
  font-weight: 700;
  max-width: 148px;
  max-height: 20px;
  box-sizing: content-box;
  padding: 0;
  margin-right:  18px;
  margin-top: 42px;
  display: inline-block;


}

.support-phone:hover {
  background-color: #FEAFC3;
}

.support-phone:focus {
  text-decoration: #2D3440 underline 2px;
  outline: none;




}


.slider-button {
    width: 38px;
    height: 38px;
    border: 2px solid #FCFCFC;
    border-radius: 50%;
    background: rgba(252, 252, 252, 0.3);
    padding: 0;
    display: block;

}

.slider-button:hover {
  background-color: #FCFCFC;
  cursor: pointer;
}

.slider-button:focus {
  border: 2px solid #2D3440;
}

.slider-button:focus.slider-button:hover {
  background-color: #FCFCFC;
  cursor: pointer;
  border: none;
}

.slider-button:focus.slider-button:active {
  background-color: #FCFCFC;
  cursor: pointer;
  border: none;
  border: 2px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-button:active {
  border: 2px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-button:hover.slider-button:focus {


}

.slider-button:hover .slider-arrow {
  fill: #2D3440;
}

.slider-button:focus .slider-arrow {
  fill: #2D3440;
}

.slider-button:active .slider-arrow {
  fill: rgba(252, 252, 252, 0.4);
}



.slider-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
}

.slider-button-next {

}

.slider-button-prev {
  transform: rotate(180deg);
}

.slider-arrow {
  display: block;
  margin: 0 auto;
  fill: #FCFCFC;
}


.navigation-item {
  position: relative;
}

.navigation-user .navigation-item:not(:last-child) {
  margin-right: 16px;

}

.navigation-button {
  background-color: rgba(252, 252, 252, 0.3);
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 26px;
  border: none;
  cursor: pointer;
}

.navigation-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-button:focus {
  outline: 2px solid;
  outline-color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-button:active {
  outline: none;
  background-color: rgba(252, 252, 252);
}



.navigation-button-search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;

}

.navigation-button-login {
  width: 90px;
  height: 32px;
}

.navigation-button-cart {

  height: 32px;
  position: relative;

}

.cart-text {
  display: inline-block;
  position: relative;
  min-width: 64px;
}

.cart-info {
  padding-left: 24.68px;
}

.cart-info-1::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 16px;

  background-image: url(../pictures/header/cart-empty.svg);
  top: 7px;
    left: 16px;

}

.cart-info-2::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;

  background-image: url(../pictures/header/cart-black.svg);
  top: 7px;
    left: 16px;

}





.svg-test {
  fill: #FCFCFC;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 98px;
}

.navigation-list {
  margin: 32px 0px;
  padding: 0;
  display: flex;
  align-items: center;
}

.navigation-user {
  min-width: 253px;
}

.slider-pagination-button {
  display: block;

  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 8px;
  border: none;
  cursor: pointer;

}

.pagination-button-current {
  background-color: rgba(252, 252, 252, 1);
}

.slider-pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  column-gap: 8px;
  flex-wrap: wrap;
  list-style: none;

}


.navigation-left {
  max-width: 400px;
}

.navigation-right-container {
  margin-left: auto;
  display: flex;
}


/*------------------------------------------------*/
.information-item-link {
  color: #2D3440;
  text-decoration: none;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;

}

.information-item-link-lovly {
  font-weight: 700;
  position: relative;
}

.information-item-link-lovly::before {
  content: "";
  background-image: url(../pictures/footer/lovly.svg);
  position: absolute;
  width: 14px;
  height: 14px;
  left: -19px;
  top: 3px;
}

.lovly-icon-container {
  width: 16px;
  height: 16px;
}

.lovly-item-container {
  display: flex;
}

.information-item-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.information-item-link-1 {
  align-self: center;

}

.information-item-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 182px;
  box-sizing: content-box;
  margin-left: 24px;

}




.academy-link {
  color: #2D3440;
}


.academy-text {
  margin: 0;
  margin-top: 14px;
}


/*------------------------------------------------*/



/*--------------------Основное содержимое----------------------*/
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 98px;

}



/*-------------------------------------------------------------*/


/*------------Рекламный блок-----------------------*/

.examples-left-container {
  background-color: #FEAFC3;
  color: #2D3440;
}
.examples-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.examples-description {
  font-size: 18px;
  line-height: 24px;
}

.button-white {
  text-decoration: none;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  display: inline-block;

  align-self: flex-start;
  padding: 12px 32px;
  background-clip: padding-box;
}

.big-item-container {
  background-color: #FEAFC3;
  width: 348px;
  height: 554px;
}

.examples-slider-image {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 2;
  opacity: 0.4;
}

.examples-slider-item::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 203, 216, 0.4);
  top: 25px;
}


.examples-slider-item-current {
  width: 350px;
  position: relative;

}

.examples-slider-item-current::before {
  display: block;
  content: "";
  width: 312px;
  height: 312px;
  position: absolute;
  border-radius: 50%;
  background-color: #FFCBD8;
  left: 15px;
  top: 97.5px;
  z-index: 1;


}

.big-image {
  z-index: 3;
  display: block;
  margin: 0 auto;
  position: relative;

}

/* .background-circle {
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: #FFCBD8;
} */

.examples-slider-item {
  position: relative;
  width: 100px;
  height: 150px;
}

.examples-container {
  display: flex;
  padding-left: 70px;
  padding-top: 23px;
}

.examples-container-left {
  width: 470px;
  display: flex;
  flex-direction: column;
}

.examples-container-right {
  width: 628px;
}

.examples-slider-list {
  display: flex;
  gap: 45px;
  align-items: center;
  margin: 0;
  padding: 0;
}





.examples-footer {
  display: flex;

}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  column-gap: 16px;
}

.social-item {
  position: relative;

}

.social-link {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50%;
  outline: 2px solid rgba(252, 252, 252, 0.2);
  border: none;
  z-index: 1;
  position: relative;


}

.social-link-1 {
  background-image: url(../pictures/link-vk.svg);
}

.social-link-2 {
  background-image: url(../pictures/link-facebook.svg);
}

.blackbox {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  display: none;

}

.social-link:hover + .blackbox,
.social-link:focus + .blackbox {
  display: block;

}

.social-link-3 {
  background-image: url(../pictures/link-instagram.svg);
}

.social-link:focus {
  outline: 2px solid #2D3440;
}


/*------------Специальные акции и предложения-------------*/
.presents-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin: 0 auto;
  padding: 0;
  margin-top: 80px;
  width: 443px;
  text-align: center;
}

.presents-list {
  margin: 0;
  margin-top: 55px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.presents-item {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  background-color: #FF7799;
  border-radius: 16px;
  margin-bottom: 30px;
  /* добавить отступы сниза и справа у всех кроме четных */
}

.presents-img {
  object-fit: contain;
  max-width: 100%;
  display: block;
  align-self: end;
}

.presents-item-2 {

}

.presents-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.presents-item-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 40px;
}

.presents-item-container-1 {
  max-width: 321px;

}

.presents-item-container-2 {
  max-width: 294px;
}
/*------------------------------------------------------------*/



/*------------------Популярные товары-------------------------*/
.products {
  margin-bottom: 80px;
}

.products-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  width: 527px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: 80px;
}

.products-item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.products-pic {
  display: block;
  position: absolute;
  top: -51px;
  border-radius: 50%;

}

.products-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.products-button {
  background-color: #FF2F64;
  border: none;
  border-radius: 26px;
  width: 32px;
  height: 32px;
  padding: 0;
  position: relative;
}

.products-button:hover {
  cursor: pointer;
  background-color: #FCFCFC;
  outline: solid 2px #FF2F64;
}

.products-button:focus {
  outline: solid 2px #2D3440;
}

.products-button:focus.products-button:hover {
  cursor: pointer;
  background-color: #FCFCFC;
  outline: solid 2px #FF2F64;
}

.products-button:focus.products-button:active {
  background-color: #B9B9B9;
  outline: none;
}

.products-button:active {
  background-color: #B9B9B9;
  outline: none;

}

.products-button-svg {
  fill: #FCFCFC;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.products-button:hover .products-button-svg {
  fill: #2D3440;
}

/* .products-button:focus .products-button-svg {
  fill: #2D3440;
} */

.products-button:active .products-button-svg {
  fill: #565C66;
}

/* .products-button::hover .products-button-svg {
  fill: #2D3440;
} */


.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 107px;
  row-gap: 90px;
  column-gap: 30px;

}

.products-item {
  background-color: #FCFCFC;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    position: relative;
    padding-top: 117px;
}


/*------------------------Преимущества-------------------*/
.advantages {
  margin-bottom: 80px;
  background-image: url(../pictures/index/advantages-background.jpg);
  border-radius: 16px;
  min-height: 432px;
  padding: 24px;
}

.advantages-container {
  width: 1122px;
  min-height: 432px;
  background-color: #FCFCFC;
  margin: 0 auto;
  border-radius: 16px;

}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 40px;
  column-gap: 31px;
  row-gap: 40px;
  /* padding-top: 80px; */
}

/* .advantages-list-container {
  margin: 0 auto;
  width: 1042px;
} */

.advantages-item {
  width: 506px;
  display: flex;
  column-gap: 16px;

  /* у каждого второго кроме последнего задать margin-left */
}

.advantages-img-container {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #2D3440;
  border-radius: 50%;
  position: relative;
}

.advantages-img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantages-description {
  margin: 0;
  width: 442px;
}

.advantages-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 56px;
}
/*--------------------------------------------------------*/


/*---------------------Статья в блоге и оформление подписки----------------------*/
.blog {
  background-image: url(../pictures/index/article-background.jpg);
  height: 220px;
  width: 570px;
  border-radius: 16px;
}

.blog-title {
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  margin-bottom: 12px;
  color: #565C66;
}

.blog-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
  display: block;
  width: 303px;
}

.button-red {
  font-family: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid #FFCBD8;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;

}



.button-red-delivery {
  margin: 0 auto;
  width: 152px;
  height: 44px;
}

.button-red-feedback {
  width: 250px;
  box-sizing: border-box;
  margin-left: 40px;
}

.button-red-feedback-text {

}

.subscribe {
  background-image: url("../pictures/index/subscribe-background.jpg");
  padding: 6px;
  width: 558px;
  border-radius: 16px;
}

.subscribe-container {
  padding: 26px;
  background-color: #FCFCFC;
  width: 506px;
  min-height: 156px;
  border-radius: 16px;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 42px;
  color: #565C66;
}

.text-input {
  outline: none;
  padding: 14px 16px;
  padding-right: 15px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
}

.article-and-sub-container {
  display: flex;

  justify-content: space-between;
}

.article-container {
  margin-left: 32px;
  margin-top: 32px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 332px 152px;
  grid-template-rows: 48px;
  column-gap: 24px;

}
/*-------------------------------------------------------------------------------*/



/*----------------------Оформление доставки----------------*/

.delivery {
  background-image: url("../pictures/index/delivery-background.jpg");
  width: 1170px;
  height: 534px;
  border-radius: 16px;
  display: flex;
  margin-top: 80px;
}

.delivery-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
  text-align: left;
}

.delivery-description {
  color: #565C66;
  margin: 0;
  text-align: left;
  margin-top: 24px;
}

.delivery-form-description {
  color: #565C66;
  margin: 0;
  width: 380px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.delivery-label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  margin-bottom: 8px;

}

.delivery-label-not-icon::after {
  content: none;
}

/* .delivery-label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url(../pictures/i-icon.svg);
  margin-left: 3px;
  margin-top: 2px;


} */

.delivery-container-2 {
  background-color: #FCFCFC;
  width: 500px;
  height: 406px;
  margin-top: 64px;
  margin-left: 135px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;



}

.delivery-container-1 {
  width: 371px;
  margin-top: 167px;
  margin-left: 100px;
}

.delivery-form {
  width: 420px;
  display: grid;
  grid-template-columns: 117px 287px;
  grid-template-rows: 76px 76px;
  gap: 20px 16px;
  margin-left: 40px;
  margin-bottom: 32px;
}

.delivery-form-date, .delivery-form-phone,
.delivery-form-address {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form-address {
  grid-column: 1/-1;
}


/*--------------------------------------------------------*/



/*--------------------Контакты магазина--------------------*/
.contacts {
  background-image: url("../pictures/index/contacts-background.jpg");
  width: 1170px;
  height: 492px;
  border-radius: 16px;
  margin-top: 80px;
}

.contacts-container {
  background-color: #FCFCFC;
  width: 343px;
  height: 364px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  margin-left: 64px;
  margin-top: 64px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.contacts-number {
  color: #2D3440;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  width: 225px;
  margin-left: 40px;
  margin-top: 12px;
}

.contacts-text-phone     {
  color: #565C66;
  width: 203px;
  margin: 0;
  margin-left: 40px;
  margin-top: 12px;

}

.contacts-phone-and-time {
  margin: 0;
}

.contacts-text-address {
  color: #565C66;
  margin: 0;
  width: 179px;
  margin-left: 40px;
  margin-top: 40px;
}

.contacts-time {
  color: #565C66;
  font-size: 14px;
  line-height: 20px;
  width: 160px;
  margin-left: 40px;
  margin-bottom: 32px;
}

.contacts-address {
  color: #2D3440;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  width: 263px;
  margin-left: 40px;
  margin-top: 12px;
}
/*--------------------------------------------------------*/


/*------------------- Футер------------------------------ */
.page-footer {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 57px;
  padding-left: 98px;
  padding-right: 98px;


}



.social-list-footer {
  margin: 0;

}

.information-catalog {
  margin: 0;
  padding: 0;
  display: flex;
  width: 356px;
  flex-wrap: wrap;
}

.information {
  display: grid;
  grid-template-columns: 126px 182px;
  grid-template-rows: 20px 20px;
  gap: 8px 24px;

}
/*--------------------------------------------------------*/


/*-------------------------Каталог-------------------------*/
.catalog-products {
  flex-grow: 1;
  padding-top: 40px;
}

.page-inner {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
  background-color: #FEAFC3;
}

.current-page-link {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.current-page-link:hover {
  background-color: #FF4A78;
  cursor: default;
}

.current-page-link:focus {
  background-color: #FF4A78;
  outline: none;
}

.current-page-link:active {
  background-color: #FF4A78;
  outline: none;
}

.button-apply {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: rgba(252, 252, 252, 0.3);

  border-radius: 20px;
  padding: 8px 53.5px;
    box-sizing: border-box;
    border: none;
    outline: 2px solid #FCFCFC;
}

.icecream-type-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding-top: 16px;
}

.products-description-catalog {
  color: #565C66;

}

.products-description {
  width: 190px;
  margin: 0;
  margin-top: 8px;
  text-align: center;
}

.products-price-container {
  display: flex;
  margin-top: 16px;
  width: 190px;
  justify-content: space-between;
  margin-bottom: 28px;
}

.pagination-show-more {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
  align-self: center;
  margin-left: 494px;
}

.pagination-link {
  text-decoration: #2D3440 none;
  color: #2D3440;
}
.pagination-link-current {
  background-color: #FCFCFC;
  border-radius: 50px;
  padding: 2px 8px;
}

        /* catalog-header */
/*--------------Хлебные крошки-----------------------------*/
.breadcrumbs-link {
  color: #2D3440;
  text-decoration: #2D3440 underline 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* у всех кроме первой отступ слева 8px */
}
.breadcrumbs-link-current {
  text-decoration: none;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 250px;
  column-gap: 28px;

}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(.breadcrumbs-item:last-of-type)::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 6px;
  background-image: url("../pictures/catalog/catalog-breadcrumbs.svg");
  margin-left: 10px;
  margin-top: 9px;
}
/*--------------------------------------------------------*/


/*-------------Фильтры------------------------------------*/
.catalog-filter {
  display: flex;
  width: 807px;
  flex-wrap: wrap;
  align-items: flex-end;
  column-gap: 24px;
  row-gap: 16px;

}

.select-wrapper {
  display: flex;
  flex-direction: column;
}

.range-wrapper {
  width: 164px;
    height: 16px;

    background-color: rgba(252, 252, 252, 0.3);
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
}

.select-control {
  width: 196px;
  height: 36px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;

  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  padding-left: 14px;
  color: #2D3440;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../pictures/catalog/select-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 170px;
  background-position-y: 15px;



}

.select-control::-ms-expand {
  display: none;
}

.select-control:focus {
  outline: none;
}

.filter-item-title {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding-left: 10px;
}

.filter-title-price {
  margin-bottom: 0px;
  margin-right: 2px;
}

.filter-lebel-text {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding-left: 10px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 16px;
  padding: 8px 16px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;

}

.button-apply {
  align-self: flex-end;
}

/* Чекбоксы */

.control {
  position: relative;
  display: block;
  min-width: 45px;
  max-width: 154px;
}

.control-mark {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.33333px solid #2D3440;
  box-sizing: border-box;
  top: 3px;
}

.control-mark-2 {
  border-radius: 2px;
}

.control-label {
  font-size: 14px;
  line-height: 20px;
  padding-left: 24px;

}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #242424;
  border-radius: 50%;
  left: 4px;
  top: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark-2 {
  background-image: url(../pictures/catalog/check-filler.svg);
  border: none;

}

.control-input[type="checkbox"]:checked + .control-mark-2::before {
  content: none;
}


/* Пагинация каталога */
.catalog-pagination-container {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
  padding-top: 41px;
  padding-bottom: 41px;
}



.catalog-pagination-container-right {
  width: 185px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 130px;
}



/* всякий стайлинг */

.range-scale {
  position: relative;
  width: 164px;
height: 0px;
  background-color: rgba(86, 92, 102, 0.3);
  border: 2px solid rgba(86, 92, 102, 0.3);;
  border-radius: 2px;




}


.range-bar {
  position: absolute;
  height: 4px;
  background-color: #565C66;
  border-radius: 2px;
  top: -2px;
  left: 60px;
  width: 56px;
}


.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #242424;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  background-color: #FCFCFC;
}

.range-toggle:hover .white-circle-slider {
  background-color: #242424;
}



.white-circle-slider {
  background-color: #FCFCFC;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 6px;
  left: 6px;
}

.black-circle-slider {
  width: 100%;
}


.toggle-min {
  left: -2px;
  top: -6px;
}

.toggle-max {
  left: 40px;
  top: -6px;
}

.range-wrapper-inputs {
  display: flex;
  align-items: end;
  margin-bottom: 8px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.range-input {
  width: 25px;
  padding: 0 1px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  color: #2D3440;
    font-size: 14px;
    line-height: 20px;
  padding-right: 2px;
}

.range-input-min {
  padding-right: 3px;
}

.range-input-max {
  width: 30px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

/* Тултип */
.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  fill: #2D3440;
  display: block;
}

.tooltip-text {
  background-color: #FFFFFF;
  color: #565C66;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  padding: 10px 8px;
  border-radius: 2px;
  display: block;
  width: 162px;
  position: absolute;
  border: 1px solid #B9B9B9;
  left: 30px;
  top: -15px;
  z-index: 1;
  display: none;


}

.tooltip-text-2 {
  top: -19px;
  left: 25px;
}

.tooltip-text-data {
  width: 81px;
  width: 81px;
    left: 24px;
    top: -10px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 16px;
  height: 16px;
}

.tooltip-text-data:after {
  content:'';
  background-image: url("../pictures/index/tooltip-arrow.svg");
  width: 9px;
  height: 16px;
  position:absolute;
  background-repeat: no-repeat;
  top: auto;
  left: -8.54px;
}

.tooltip-text-data::before {
  content: "";
  background-image: url("../pictures/index/line.svg");
  width: 9px;
  height: 16px;
  position: absolute;
  background-repeat: no-repeat;
  top: auto;
  left: -7.5px;
    z-index: 1;

}

.tooltip-text-2:after {
  content:'';
  background-image: url("../pictures/index/tooltip-arrow.svg");
  width: 9px;
  height: 16px;
  position:absolute;
  background-repeat: no-repeat;
  top: 20px;
  left: -8.54px;
}

.tooltip-text-2::before {
  content: "";
  background-image: url("../pictures/index/line.svg");
  width: 9px;
  height: 16px;
  position: absolute;
  background-repeat: no-repeat;
  top: 20px;
  left: -7.5px;
    z-index: 1;

}



/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 4;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #ffffff;
}

.modal-feedback {
  width: 570px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: #FCFCFC;
  border: none;
  background-image: url("../pictures/index/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

.modal-feedback-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

}

.feedback-form-field {
  width: 442px;
  box-sizing: border-box;
}

.feedback-textarea {
  resize: none;
}

.modal-button {
  align-self: flex-end;
  margin-top: 16px;
}



.modal-container-close {
  display: none;
}

/* Попап-ы */
.popup {
position: absolute;
z-index: 5;
box-sizing: border-box;
padding: 24px 16px;
font-family: "Inter", sans-serif;
color: #2D3440;
background-color: #FCFCFC;
border-radius: 4px;
box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.12);
top: 40px;
  right: 0;
}

.popup-search {
  width: 356px;
  height: 96px;

}

.popup-search-hide {
  display: *none;
}

.popup-login-usermail {
  margin-bottom: 16px;
}

.popup-login-userpass {
  margin-bottom: 32px;
}

.popup-input {
  border-radius: 4px;
  padding: 14px 16px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  width: 324px;
  height: 48px;
  font-family: 'Inter', sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;

}

.popup-search-text {
  padding-right: 40px;
}

.popup-login {
  width: 420px;
  height: 350px;
  padding: 48px;
  padding-bottom: 52px;

}

.popup-cart-empty {
  width: 288px;
  height: 156px;
  padding: 48px;
}

.popup-cart-empty-hide {
  display: none;
}



.popup-login-hide {
  display: none;
}




.popup-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.cart-empty-title {
  text-align: center;
}



.popup-title-login {
  margin-bottom: 32px;
}

.popup-login-container {
  display: grid;
  grid-template-columns: 113px 113px;
  grid-template-rows: 44px;
  column-gap: 23px;
}

.popup-login-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration-color: #2D3440;
}


.popup-cart {
  width: 441px;
  height: 382px;
  padding: 48px;

}

.popup-cart-title {
  margin-bottom: 32px;
}

.popup-button-remove {
  border: none;
  outline: none;
  background-color: #FCFCFC;
  background-image: url(../pictures/catalog/popup-remove.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;

}

.button-cart-item-remove {
  margin-left: auto;
}

.popup-form-search {
  position: relative;
}

.button-search-delete {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 92%;
}

.popup-product-title {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}

.popup-cart-item {
  display: flex;
  width: 345px;
  height: 46px;
  align-items: center;


}

.popup-cart-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.popup-cart-item-wrapper {
  display: grid;
  grid-template-columns: 46px 92px;
  grid-template-rows: 46px;
  column-gap: 16px;
}

.popup-photo {
  border-radius: 50%;
}

.popup-product-sum {
  font-size: 14px;
line-height: 20px;
color: #B9B9B9;
}

.popup-product-price {
  width: max-content;
  margin-left: 82px;
  font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #2D3440;
}

.popup-cart-line {
  height: 0;
  width: 345px;
  border: 1px solid #E7E7E7;
  margin-bottom: 32px;
}

.popup-cart-finaly {

  font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #2D3440;
margin-left: auto;
}

.popup-cart-wrapper-end {
  display: flex;
  align-items: center;
}

.popup-cart-hide {
  display: none;
}

/* стилизация состояний текстового input */

.text-input::placeholder {
  color: #B9B9B9;

}

.text-input:hover {
  border-color: #2D3440;
  cursor: pointer;
}

.text-input:hover.text-input:focus {
  cursor:auto;
}

.text-input:focus {
  border: 2px solid #2D3440;
}

.text-input:disabled {
  background: #E7E7E7;
border: 1px solid #B9B9B9;

color: rgba(45, 52, 64, 0.65);

}

.text-input:disabled + .popup-button-remove {
  background-color: #E7E7E7;
}

.text-input[readonly] + .popup-button-remove {
  background-color: #E7E7E7;
}


.text-input[readonly] {
  color: #2D3440;
  background: #E7E7E7;
border: 1px solid #B9B9B9;
}

.invalid-input-text {
  border: 1px solid #EA5454;

}

.invalid-input-text.text-input:focus {
  border: 2px solid #EA5454;
}

/* Состояния селекта */

.select-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
}

.select-control:focus {
  background-color: rgba(252, 252, 252, 0.4);
  cursor: auto;
  border: 2px solid #FCFCFC;
}

.select-control:focus.select-control:hover {
  cursor: pointer;
}

/* Состояния кнопок */
.button-white:hover {
  cursor: pointer;
  border: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  background-color: rgba(252, 252, 252, 0.4);
}

.button-white:focus {

  border: 2px solid #2D3440;
box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  background-color: #FCFCFC;
}

.button-red:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  color: #2D3440;
  cursor: pointer;
  box-shadow: none;

}

.button-red:focus {
  outline: 2px solid #2D3440;
  background-color: #FF2F64;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  color: #FCFCFC;
}

.button-red:disabled, .button-red:disabled.button-red:focus, .button-red:disabled.button-red:hover  {
  background-color: #B9B9B9;
outline: 4px solid rgba(185, 185, 185, 0.3);
color: #565C66;
font-weight: 400;
box-shadow: none;

}

.slider-pagination-button:hover {
  outline: 1px solid #FCFCFC;
}

.pagination-button-current:hover {
  outline: none;
  cursor: auto;
}

.slider-pagination-button:focus {
  outline: 1px solid #2D3440;
}

.pagination-button-current:focus.slider-pagination-button {
  outline: none;
  cursor: auto;
}

/* Состояния социальных сетей */

.social-svg {
  fill: #2D3440;
  stroke: #69A9FF;
}




